#masthead {
  -ms-background-position-x: center;
  background-position-x: center;

  .container {
    position: relative;

    .site-branding {
      .site-title {
        a {
          font-size: 60pt;
          font-family: $font__highlight;
          color: $color__menu;
        }

        a:hover {
          text-decoration: none;
        }

        span {
          color: $color__highlight;
        }
      }
    }
  }

}

@media only screen and (max-width: 703px) and (min-width: 600px) {
  #masthead {
    .container {
      .site-branding {
        .site-title {
          a {
            font-size: 50pt;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  #masthead {
    .container {
      .site-branding {
        .site-title {
          a {
            font-size: 40pt;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #masthead {
    .container {
      height: 130px;

      .site-branding {
        .site-title {
          a {
            font-size: 24pt;
          }
        }
      }
    }
  }
}