.main-navigation {
	clear: both;
	display: inline-block;
	float: left;
	width: 100%;

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;
		bottom: 0;
		right: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__menu;
		padding: 0 15px;
		font-size: 20pt;

		-webkit-transition: color 0.3s linear;
		-moz-transition: color 0.3s linear;
		-ms-transition: color 0.3s linear;
		-o-transition: color 0.3s linear;
		transition: color 0.3s linear;

		font-family: $font__highlight;
	}

	a:hover {
		color: $color__highlight;
	}

	a:hover, a:active, a:focus {
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		margin-top: 10px;
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-next {
		margin-top: 10px;
		float: left;
		width: 50%;
	}
}
